body {
    background-color: rgb(80, 51, 8);
    font-family: "Helvetica", sans-serif;
  }
#video{
  width: 100%;
 
  height: 700px;
  
}

a,h2{
  margin: 15px;
}
#wel{
  margin-left: 15px;
}
#more{
   margin-left: 15px;
}
li a{
  text-decoration: none;
 text-align: center;
}
li{

 display: inline;
  margin-left: 20px;
  text-align: center;
}
nav{
  border: 4px white solid;
   background-color: rgb(241, 201, 142);
   margin: 10pt;
  
   border-radius: 20px;
}
img{
  max-width: 500px;
  max-height: 500px;
}
#link:visited{
  color: chartreuse;
}